# Path to your Firebase service account JSON key file
# You can use the absolute path or place the JSON file inside the backend directory
FIREBASE_SERVICE_ACCOUNT_PATH=/Users/bankimkamila/Downloads/petcare-75450-firebase-adminsdk-fbsvc-56e0edf315.json

# Optional: Default FCM topic
DEFAULT_NOTIFICATION_TOPIC=all_pet_parents
